# Игнорировать виртуальное окружение
venv/

# Игнорировать папку с загруженными данными
downloads/

# Игнорировать все .pyc файлы
*.pyc

# Игнорировать системные файлы
.DS_Store

.env

/node_modules

package-lock.json

.xml

.idea